<!-- File Name: delete.ejs
  Student Name: CHI SING LEUNG
  Student ID: 301268517
  Date: 27 Oct 2022
  Description: add for Midterm

-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
